@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@700&family=Poppins:wght@500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
  }

.warning{
  color:#ff4758 !important;
}
 

  .redBorder {
    border:3px solid #ff4758 !important;}

  .hovers :hover{
    background-color: red !important;
    cursor: pointer; }


  



.default{
  border: none;
}
  .info{
    background-color: red;
    font-size:60px;
    z-index: -2;
    position: absolute;
    top:-5rem;
  }

  .landingpage{
    overflow-x:hidden;
    overflow-y:hidden;
  }
  
.footer{
  display: grid;
  
}

.liner{
  display:none;
}

.stats{
  text-align: center;
  margin-bottom: 10rem;
}
.stats h1{
  margin-bottom: 20px;
  
}

.stats p{
 width:30%;
 position:relative;
 left:30rem;
 color:#9E9AA8;
 line-height: 20px;
}

.bluebar{
  width:31.5%;
  height:10px;
  color:#2BD0D0;
  background-color: #2BD0D0;
  position: relative;
  top:-25rem;
  left:29rem;
}


.selected{
  background-color:#3A3054 !important;
}

.notSelected{
 background-color:#2BD0D0 !important;
}

@media (min-width:320px) and (max-width:623px){
     .stats{
       font-size:14px;
       padding:20px;
       position:relative;
       top:5rem;

     }

     .liner{
      display:block;
      background-color: #CCC;
      height:1px;
     }

     .stats h1{
      width:300px;
      font-size:23px;
      position: relative;
      left:-0.6rem;
     }

     .stats p{
      width:80vw;
      /* color:red; */
      position:relative;
      left:1rem;
     }

  

     .bluebar{
      position: relative;
      left:-10.5rem;
      width:200vw;
      top:-50rem;
      transform: rotate(90deg);
     }
    
    }


 @media (min-width:375px) and (max-width:623px){

  .bluebar{
    left:-11.5rem;}

  .stats{
    padding-top:-6rem;
  }

  .stats h1{
    width:500px;
    position: relative;
    left:-5rem;
  }
 }

 @media (min-width:425px) and (max-width:623px){
   
    .stats h1{
      position:relative;
      left:-3.5rem;
      font-size:25px;
    }

    .bluebar{
      left:-13rem;
      
    }
}


 @media (min-width:703px) and (max-width:768px){
  .stats{
    padding-top:5rem;
  }

  .liner{
    display: none;
  }

  .inputt{
    background-color: red;
  }
  .notinput{
    background-color: blue;
  }
  .stats p{
    left:10.5rem;
    width:60vw;
  }

  .bluebar{
    position: relative;
    left:4.5rem;
    width:75vw;
    top:-50rem;
    transform: rotate(90deg);
   }


 }